<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <p-divider></p-divider>
    <li class="nav-item">
      <a routerLink="/admin" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt me-2"></i>
        <p>
          Bảng điều khiển
        </p>
      </a>
    </li>
    <p-divider></p-divider>
    <li class="nav-item">
      <a routerLink="category-product" class="nav-link">
        <i class="nav-icon fas fa-chart-line me-2"></i>
        <p>
          Quản lý danh mục sản phẩm
        </p>
      </a>
    </li>
    <p-divider></p-divider>
    <li class="nav-item">
      <a routerLink="category-news" class="nav-link">
        <i class="nav-icon fas fa-chart-line me-2"></i>
        <p>
          Quản lý danh mục tin tức
        </p>
      </a>
    </li>
    <p-divider></p-divider>
    <li class="nav-item">
      <a routerLink="product" class="nav-link">
        <i class="nav-icon fab fa-product-hunt me-2"></i>
        <p>
          Quản lý sản phẩm
        </p>
      </a>
    </li>
    <p-divider></p-divider>
    <li class="nav-item">
      <a routerLink="news" class="nav-link">
        <i class="nav-icon fas fa-newspaper"></i>
        <p>
          Quản lý tin tức
        </p>
      </a>
    </li>
    <p-divider></p-divider>
    <li class="nav-item">
      <a routerLink="product-file" class="nav-link">
        <i class="nav-icon fas fa-images"></i>
        <p>
          Quản lý ảnh sản phẩm
        </p>
      </a>
    </li>
    <p-divider></p-divider>
    <li class="nav-item">
      <a routerLink="size" class="nav-link">
        <i class="nav-icon fab fa-product-hunt me-2"></i>
        <p>
          Quản lý size sản phẩm
        </p>
      </a>
    </li>
    <p-divider></p-divider>
    <li class="nav-item">
      <a routerLink="voucher" class="nav-link">
        <i class="nav-icon fas fa-ticket-alt"></i>
        <p>
          Quản lý voucher
        </p>
      </a>
    </li>
    <p-divider></p-divider>
    <li class="nav-item">
      <a routerLink="/admin" class="nav-link">
        <i class="nav-icon fab fa-product-hunt me-2"></i>
        <p>
          Quản lý đơn hàng
        </p>
      </a>
    </li>
    <p-divider></p-divider>
    <li class="nav-item">
      <a routerLink="/admin" class="nav-link">
        <i class="nav-icon fab fa-product-hunt me-2"></i>
        <p>
          Quản lý giỏ hàng
        </p>
      </a>
    </li>
    <p-divider></p-divider>
    <li class="nav-item">
      <a routerLink="slider" class="nav-link">
        <i class="nav-icon fas fa-sliders-h"></i>
        <p>
          Quản lý slider
        </p>
      </a>
    </li>
    <p-divider></p-divider>
    <li class="nav-item">
      <a routerLink="/admin" class="nav-link">
        <i class="nav-icon fas fa-chart-bar"></i>
        <p>
          Quản lý thông kê
        </p>
      </a>
    </li>
    <p-divider></p-divider>
    <li class="nav-item">
      <a routerLink="/admin" class="nav-link">
        <i class="nav-icon fas fa-user"></i>
        <p>
          Quản lý tài khoản người dùng
        </p>
      </a>
    </li>
  </ul>
</nav>
