<div class="container">
  <h2>{{ isEdit ? 'Chỉnh sửa Slider' : 'Tạo Slider Mới' }}</h2>
  <form (ngSubmit)="onSave()">
    <div class="form-group">
      <label for="image">Chọn hình ảnh:</label>
      <input type="file" id="image" name="image" (change)="onSelectFile($event)">
    </div>
    <div class="form-group">
      <label for="note">Ghi chú:</label>
      <textarea id="note" name="note" class="form-control" [(ngModel)]="slider.note"></textarea>
    </div>
    <div class="form-group">
      <label for="selectedImage">Hình ảnh đã chọn:</label>
      <img *ngIf="slider.url" [src]="slider.url" alt="Hình ảnh đã chọn">
    </div>
    <button type="submit" class="btn btn-primary">{{ isEdit ? 'Cập nhật' : 'Tạo' }}</button>
  </form>
</div>
