<p-toast></p-toast>
<div class="hold-transition register-page">
  <div class="register-box">
    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Tạo tài khoản</p>
        <form [formGroup]="registerForm" (ngSubmit)="createUser()">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Tài khoản" formControlName="username">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Mật khẩu" formControlName="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" formControlName="confirmPass">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col align-self-center">
              <button type="submit" class="btn btn-dark btn-block">Đăng ký</button>
            </div>
          </div>
        </form>
        <a routerLink="/login" class="text-center">Bạn đã có tài khoản</a>
      </div>
    </div>
  </div>
</div>
